extends layout

block content
  #test
    h1= json1
    h2= json2 
   p #{json1}
  #wrapper
    #json-data
        p #{jsondata.mydomain}
        p #{jsondata.mycert}
        for x in jsondata
            p #{x}
  #form-display
    form(role="form", action="/jsondata", method="post", enctype="multipart/form-data")
        div(class="form-div")
          label(for="jsonfile") Upload json File
          input(type="file", name="jsonfile", id="jsonfile")
          input(type='submit')    
    #footer
        div Copyright © 3hd.me #{+new Date().getFullYear()}  
        a(href='/page?name=about') About 
        | |  
        a(href='/page?name=contact') Contact Us
